<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% for(let i=0;i<50000;i++) { if(true){ %>
        <li><%= i+1 %></li>
      <%}}; %>
    </ul>
  </body>
</html>
